.idea/
.env
__pycache__/
volumes/
chroma_db/
grafana-store/
rag_logs.db
downloads/
temp/
documents.db
documents/
test/

temp_papers/
processed/
*.ipynb
/processed/

# Audio files
*.wav
*.mp3
*.m4a
*.ogg
*.flac
audio_cache/