pandas~=2.3.3
numpy~=2.2.6
pydantic~=2.10.6
langchain-core~=0.3.78
docling~=2.57.0
streamlit~=1.50.0
gradio~=5.0.0
uuid~=1.30
matplotlib~=3.10.6
seaborn~=0.13.2
requests~=2.32.5
langgraph~=0.2.62
colorama~=0.4.6
pymilvus~=2.5.5
langchain-milvus~=0.1.10
groq>=0.30.0
openai>=1.104.2,<2.0.0
click>=8.1.7
huggingface-hub>=0.20.0
kokoro>=0.9.2
soundfile>=0.12.0